@font-face {
    font-family: 'iconfont'; /* Project id 3885591 */
    src: url('//at.alicdn.com/t/c/font_3885591_9eoctfuleb.woff2?t=1683352005668')
            format('woff2'),
        url('//at.alicdn.com/t/c/font_3885591_9eoctfuleb.woff?t=1683352005668')
            format('woff'),
        url('//at.alicdn.com/t/c/font_3885591_9eoctfuleb.ttf?t=1683352005668')
            format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-microsoftoutlook:before {
    content: '\ec1b';
}

.icon-youxiang:before {
    content: '\e62e';
}

.icon-sharpicons_barricade-:before {
    content: '\e7d2';
}

.icon-sharpicons_truck-:before {
    content: '\e7d1';
}

.icon-sharpicons_brick-wall:before {
    content: '\e7d3';
}

.icon-sharpicons_paint-roller:before {
    content: '\e7d4';
}

.icon-sharpicons_hammer:before {
    content: '\e7d5';
}

.icon-sharpicons_paint-scraper:before {
    content: '\e7d7';
}

.icon-sharpicons_bulldozer:before {
    content: '\e7d6';
}

.icon-gongcheng-:before {
    content: '\e736';
}

.icon-youshangjiaojiantou:before {
    content: '\e63e';
}

.icon-google-fill:before {
    content: '\e76a';
}

.icon-vuejs-fill:before {
    content: '\e774';
}

.icon-vuejs-line:before {
    content: '\e77c';
}

.icon-apple-fill:before {
    content: '\e75a';
}

.icon-apple-line:before {
    content: '\e75b';
}

.icon-bilibili-fill:before {
    content: '\e75c';
}

.icon-github-fill:before {
    content: '\e761';
}

.icon-wechat--fill:before {
    content: '\e775';
}

.icon-wechat-fill:before {
    content: '\e776';
}

.icon-xbox-fill:before {
    content: '\e778';
}
