@font-face {
    font-family: 'iconfont'; /* Project id 3982552 */
    src: url('//at.alicdn.com/t/c/font_3982552_lc6zib7t5mg.woff2?t=1680245779698')
            format('woff2'),
        url('//at.alicdn.com/t/c/font_3982552_lc6zib7t5mg.woff?t=1680245779698')
            format('woff'),
        url('//at.alicdn.com/t/c/font_3982552_lc6zib7t5mg.ttf?t=1680245779698')
            format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rizhi:before {
    content: '\e7b3';
}

.icon-jiahao1:before {
    content: '\e727';
}

.icon-gengduo:before {
    content: '\e719';
}

.icon-shoucang:before {
    content: '\e7a5';
}

.icon-renliziyuan:before {
    content: '\e7a4';
}

.icon-zhinanzhen:before {
    content: '\e7a8';
}

.icon-fenxiang:before {
    content: '\e7ad';
}

.icon-xiaoxi:before {
    content: '\e7b5';
}

.icon-fanhui:before {
    content: '\e7cb';
}

.icon-qianwang:before {
    content: '\e7cf';
}

.icon-shouye:before {
    content: '\e7d0';
}

.icon-shezhi:before {
    content: '\e7d3';
}

.icon-shouqi:before {
    content: '\e7d4';
}

.icon-shaixuan:before {
    content: '\e7d2';
}

.icon-tongzhi2:before {
    content: '\e7d6';
}

.icon-sousuo:before {
    content: '\e7d1';
}

.icon-zhankai:before {
    content: '\e7d9';
}

.icon-add:before {
    content: '\e62f';
}
